header img {width: 750px;}
section img {width: 750px;}

section   {
	background: lightblue;
}


h2,h3{font-family: "Spicy Rice", serif;}

header,div{font-family: "Archivo Black", sans-serif;}

	

 .bi-life-preserver{
 	font-size: 800px;
 	color: red
 }